<div id="add-new-user-body">

      <div id="add-new-user-upper-body">
            <div style="width:22%;height: 100%;display:flex;flex-direction: column; justify-content: space-between;">
                  <form action="/admin/enter/users/onebyone" method="post" id="admin-add-new-users-onebyone-form" class="form-add-new-user-upper">
                        <h4>ENTER USERS ONE-BY-ONE</h4>
                        
                        <label for="reg_number">Index:</label>
                        <input type="number" name="reg_number" id="">
            
                        <label for="Name">Name:</label>
                        <input type="text" name="name" id="">
            
                        <label for="Password">Password:</label>
                        <input type="text" name="password" id="">
            
                        <label for="email">Email:</label>
                        <input type="email" name="email" id="">
            
                        <label for="year">Batch Number:</label>
                        <input type="number" name="batch" id="">
            
                        <br>
                        <br>
                        <input type="submit" value="Add User">
                  </form>

                  <form action="/admin/delete/users/" method="post" id="admin-add-new-users-onebyone-form" class="form-add-new-user-upper" style="height: auto;">
                        <h4>DELETE USERS</h4>
      
                        <label for="reg_number">Index:</label>
                        <input type="number" name="reg_number">

                        <label for="Name">Name:</label>
                        <input type="text" name="name" id="">
                        <br>
                        <br>

                        <input type="submit" value="Delete User" style="margin-top: 10px;">
                  </form>

            </div>
            
            <div style="width:22%;height:100%;display:flex;flex-direction: column; justify-content: space-between;">
                  <form action="/admin/enter/users/csv" method="post" enctype='multipart/form-data' id="admin-add-new-users-onebyone-form" class="form-add-new-user-upper" style="height: auto;">
                        <h4>ENTER USERS FROM CSV</h4>
                        <br>
                        <img src="/images/EnterUsersCSV.png" alt="main csv sample image" class="admin-form-image" style="margin-bottom: 10px;">
                        <p>Please remove the table headers from the csv file</p>
                        <label for="Name" style="margin-bottom: 10px;">Select the csv file:</label>
                        <input type="file" name="users_csv" style="margin-bottom: 10px;">
                        <br>
                        <input type="submit" value="Add Users" style="width :100%;">
                  </form>

                  <!-- <form action="/admin/update/users/batch" method="post" id="admin-add-new-users-onebyone-form" class="form-add-new-user-upper" style="height: auto;">
                        <h4>UPDATE BATCH NUMBER</h4>
      
                        <label for="reg_number">Index:</label>
                        <input type="number" name="reg_number">
                        
                        <label for="Name">Batch Number:</label>
                        <input type="number" name="name" style="margin-bottom: 10px;">
      
                        <input type="submit" value="Update Batch Number">
                  </form> -->

                  <form action="/admin/enter/users/combination/csv" method="post" enctype='multipart/form-data' id="admin-add-new-users-onebyone-form" class="form-add-new-user-upper" style="height: auto;">
                        <h4>ENTER COMBINATION FROM CSV</h4>
                        <br>
                        <img src="/images/UpdateCombinationCSV.png" alt="main csv sample image" class="admin-form-image" style="margin-bottom: 10px; height: 75px;">
                        <p>Please remove the table headers from the csv file</p>
                        <label for="Name" style="margin-bottom: 10px;">Select the csv file:</label>
                        <input type="file" name="combination_csv" style="margin-bottom: 10px;">
                        <br>
                        <input type="submit" value="Update Combination" style="width :100%;">
                  </form>


            </div>

            <div style="width:22%;height: 100%;display:flex;flex-direction: column; justify-content: space-between;">
                  <form action="/admin/edit/users" method="post" id="admin-add-new-users-onebyone-form" class="form-add-new-user-upper">
                        <h4>EDIT USERS</h4>
                        
                        <label for="reg_number">Index:</label>
                        <input type="number" name="reg_number" id="">
            
                        <label for="Name">Name:</label>
                        <input type="text" name="name" id="">
            
                        <label for="Password">Password:</label>
                        <input type="text" name="password" id="">
            
                        <label for="email">Email:</label>
                        <input type="email" name="email" id="">
            
                        <label for="year">Batch Number:</label>
                        <input type="number" name="batch" id="">
            
                        <br>
                        <input type="submit" value="Edit User">
                  </form>

                  <form action="/admin/update/users/combination/onebyone" method="post" id="admin-add-new-users-onebyone-form" class="form-add-new-user-upper" style="height: auto;">
                        <h4>EDIT COMBINATION</h4>

                        <label for="level">Level</label>
                        <input type="number" name="level">
      
                        <label for="reg_number">Index:</label>
                        <input type="number" name="reg_number">

                        <label for="combination">Combination:</label>
                        <select name="combination" id="combination" style="height: 32px; padding: 1px 2px 1px 2px; width: 100%;">
                              <option value="1">1st Combination (MATH + CMIS + ELTN)</option>
                              <option value="2">2nd Combination (MATH + ELTN + IMGT)</option>
                              <option value="3">3rd Combination (MATH + IMGT + CMIS)</option>
                              <option value="G-1A">Genaral-Combination 1A (MATH + CMIS + ELTN)</option>
                              <option value="G-1B">Genaral-Combination 1B (STAT + CMIS + ELTN)</option>
                              <option value="G-1C">Genaral-Combination 1C (MATH + STAT + CMIS)</option>
                              <option value="G-2A">Genaral-Combination 2A (MATH + ELTN + IMGT)</option>
                              <option value="G-2B">Genaral-Combination 2B (STAT + ELTN + IMGT)</option>
                              <option value="G-2C">Genaral-Combination 2C (MATH + STAT + ELTN)</option>
                              <option value="G-3A">Genaral-Combination 3A (MATH + IMGT + CMIS)</option>
                              <option value="G-3B">Genaral-Combination 3B (STAT + IMGT + CMIS)</option>
                              <option value="G-3C">Genaral-Combination 3C (MATH + STAT + IMGT)</option>
                              <option value="JM-1A">Joint Major-Combination 1A (CMIS + ELTN)</option>
                              <option value="JM-1B">Joint Major-Combination 1B (CMIS + MMST)</option>
                              <option value="JM-1C">Joint Major-Combination 1C (CMIS + IMGT)</option>
                              <option value="JM-2A">Joint Major-Combination 2A (ELTN + CMIS)</option>
                              <option value="JM-2B">Joint Major-Combination 2B (ELTN + MMST)</option>
                              <option value="JM-2C">Joint Major-Combination 2C (ELTN + IMGT)</option>
                              <option value="JM-3A">Joint Major-Combination 3A (IMGT + ELTN)</option>
                              <option value="JM-3B">Joint Major-Combination 3B (IMGT + MMST)</option>
                              <option value="JM-3C">Joint Major-Combination 3C (IMGT + CMIS)</option>
                              <option value="JM-4A">Joint Major-Combination 4A (MMST + CMIS)</option>
                              <option value="JM-4B">Joint Major-Combination 4B (MMST + ELTN)</option>
                              <option value="JM-4C">Joint Major-Combination 4C (MMST + IMGT)</option>
                              <option value="SP-CMIS">Special in Computer Science</option>
                              <option value="SP-IMGT">Spacial in Industrial Management</option>
                              <option value="SP-ELTN">Spacial in Eelectronics</option>
                              <option value="SP-MMST">Spacial in Maths</option>
                        </select>
                        <br>
                        <input type="submit" value="Update Combination">
                  </form>
            </div>      

            <div style="width:400px;height: 100%;display:flex;flex-direction: column; justify-content: space-between;">
                  <form action="/admin/enter/admins/csv" enctype='multipart/form-data' method="post" id="admin-add-new-users-onebyone-form" class="form-add-new-user-upper" style="height: auto;">
                        <h4>ADD NEW ADMINS FROM CSV</h4>
                        <img src="/images/EnterAdminCSV.png" alt="main csv sample image" class="admin-form-image" style="margin-bottom: 10px;height: 75px;">
                        <p>Please remove the table headers from the csv file</p>
                        <label for="Name" style="margin-bottom: 10px;">Select the csv file:</label>
                        <input type="file" name="users_csv" style="margin-bottom: 10px;">
                        <br>
                        
                        <input type="submit" value="Add new Admins">
                  </form>

                  <form action="/admin/enter/admins/onebyone" method="post" id="admin-add-new-users-onebyone-form" class="form-add-new-user-upper" style="height: auto;">
                        <h4>ADD NEW ADMINS ONE BY ONE</h4>
      
                        <label for="admin_id">Admin ID:</label>
                        <input type="number" name="admin_id" id="">
            
                        <label for="Name">Name:</label>
                        <input type="text" name="name" id="">
            
                        <label for="Password">Password:</label>
                        <input type="text" name="password" id="">
            
                        <label for="email">Level:</label>
                        <input type="number" name="level" id="">
                        <br>
                        <input type="submit" value="Add new admin" style="margin-top: 10px;">
                  </form>
            </div>
      </div>

      <div id="add-new-user-mid-body">
            <table class="table">
                  <h4>CURRENT ADMINS IN THE SYSTEM</h4>
                  <thead class="thead-dark">
                        <tr>
                              <th scope="col">Admin ID</th>
                              <th scope="col">Name</th>
                              <th scope="col">Password</th>
                              <th scope="col">Level</th>
                                          
                        </tr>
                  </thead>
                  <tbody>
                        <% for(let i=0;i<admins.length;i++){ %>
                              <tr>
                                    <td><%= admins[i].ADMIN_ID %></td>
                                    <td><%= admins[i].NAME %></td>
                                    <td><%= admins[i].PASSWORD %></td>
                                    <td><%= admins[i].LEVEL %></td>
                              </tr>
                        <% } %>
                        
                  </tbody>
                  
            </table>

      </div>
      
      <div id="add-new-user-lower-body">
            <table class="table">
                  <h4>CURRENT USERS IN THE SYSTEM</h4>
                  <thead class="thead-dark">
                        <tr>
                              <th scope="col">Index Number</th>
                              <th scope="col">Name</th>
                              <th scope="col">Password</th>
                              <th scope="col">Email</th>
                              <th scope="col">Batch number</th>
                                          
                        </tr>
                  </thead>
                  <tbody>
                        <% for(let i=0;i<users.length;i++){ %>
                              <tr>
                                    <td><%= users[i].REG_NUMBER %></td>
                                    <td><%= users[i].NAME %></td>
                                    <td><%= users[i].PASSWORD %></td>
                                    <td><%= users[i].EMAIL %></td>
                                    <td><%= users[i].BATCH_NUMBER %></td>
                              </tr>
                        <% } %>
                        
                  </tbody>
                  
            </table>

      </div>
</div>
