
<div style="align-self: center; width: fit-content; margin-right: 0 !important;">
      <h4 style="text-align: center;">WAYAMBA UNIVERSITY OF SRI LANKA</h4>
      <h4 style="text-align: center;">FACULTY OF APPLIED SCIENCES,KULIYAPITIYA</h4>
      <h4 style="text-align: center;">Result of the B.Sc. General/Joint Major/Special Degree</h4>
      <h4 style="text-align: center;">Level <%= year %> Semester <%= semester %> Examination</h4>
      <h4 style="text-align: center;">Combination <%= combination %></h4>
</div>

<table class="table">
      <thead class="thead-dark">
            <tr>
                  <th scope="col">INDEX NUMBER</th>
                  <% for( let i=0; i<subjects.length;i++){ %>
                        <th scope="col"><%= subjects[i].MODULE_CODE %></th>
                  <% } %>
            </tr>
      </thead>
      <tbody>
            <% for( let i=0; i<table.length;i++){ %>
                  <tr>
                        <% for( let j=0; j<table[i].length;j++){ %>
                              <td><%= table[i][j] %></td>
                        <% } %>
                  </tr>
            <% } %>     
      </tbody>
</table>
