<div id="my-result-sheet-main">
      <div class="user-result-section">
            <div class="sem-div">
                  <h4>LEVEL 1 SEMESTER 1</h4>
                  <% if(l1s1.length>0){ %>
                        <table class="table my-res-table">
                        
                              <thead class="thead-dark">
                                    <tr>
                                          <th scope="col">ATTEMPT</th>
                                          <th scope="col">MODULE CODE</th>
                                          <th scope="col">GRADE</th>      
                                    </tr>
                              </thead>
                              <tbody>
                                    <% for(let i=0;i<l1s1.length;i++){ %>
                                          <tr>
                                                <td><%= l1s1[i].ATTEMPT%></td>
                                                <td><%= l1s1[i].MODULE_CODE %></td>
                                                <td><%= l1s1[i].GRADE %></td>
                                          </tr>
                                    <% } %>                                    
                              </tbody>                              
                        </table>
                  <%}else{ %>
                        <h6>Not issued yet</h6>
                  <% } %>                  
            </div>
            <div class="sem-div">
                  <h4>LEVEL 1 SEMESTER 2</h4>
                  <% if(l1s2.length>0){ %>
                        <table class="table my-res-table">
                        
                              <thead class="thead-dark">
                                    <tr>
                                          <th scope="col">ATTEMPT</th>
                                          <th scope="col">MODULE CODE</th>
                                          <th scope="col">GRADE</th>      
                                    </tr>
                              </thead>
                              <tbody>
                                    <% for(let i=0;i<l1s2.length;i++){ %>
                                          <tr>
                                                <td><%= l1s2[i].ATTEMPT%></td>
                                                <td><%= l1s2[i].MODULE_CODE %></td>
                                                <td><%= l1s2[i].GRADE %></td>
                                          </tr>
                                    <% } %>                                   
                              </tbody>                             
                        </table>
                  <%}else{ %>
                        <h6>Not issued yet</h6>
                  <% } %>
            </div>
      </div>
      <div class="user-result-section">
            <div class="sem-div">
                  <h4>LEVEL 2 SEMESTER 1</h4>
                  <% if(l2s1.length>0){ %>
                        <table class="table my-res-table">
                        
                              <thead class="thead-dark">
                                    <tr>
                                          <th scope="col">ATTEMPT</th>
                                          <th scope="col">MODULE CODE</th>
                                          <th scope="col">GRADE</th>      
                                    </tr>
                              </thead>
                              <tbody>
                                    <% for(let i=0;i<l2s1.length;i++){ %>
                                          <tr>
                                                <td><%= l2s1[i].ATTEMPT%></td>
                                                <td><%= l2s1[i].MODULE_CODE %></td>
                                                <td><%= l2s1[i].GRADE %></td>
                                          </tr>
                                    <% } %>                                    
                              </tbody>      
                        </table>
                  <%}else{ %>
                        <h6>Not issued yet</h6>
                  <% } %>
                  
            </div>
            <div class="sem-div">
                  <h4>LEVEL 2 SEMESTER 2</h4>
                  <% if(l2s2.length>0){ %>
                        <table class="table my-res-table">
                        
                              <thead class="thead-dark">
                                    <tr>
                                          <th scope="col">ATTEMPT</th>
                                          <th scope="col">MODULE CODE</th>
                                          <th scope="col">GRADE</th>      
                                    </tr>
                              </thead>
                              <tbody>
                                    <% for(let i=0;i<l2s2.length;i++){ %>
                                          <tr>
                                                <td><%= l2s2[i].ATTEMPT%></td>
                                                <td><%= l2s2[i].MODULE_CODE %></td>
                                                <td><%= l2s2[i].GRADE %></td>
                                          </tr>
                                    <% } %>                                    
                              </tbody>                             
                        </table>
                  <%}else{ %>
                        <h6>Not issued yet</h6>
                  <% } %>
                  

            </div>
      </div>
      <div class="user-result-section">
            <div class="sem-div">
                  <h4>LEVEL 3 SEMESTER 1</h4>
                  <% if(l3s1.length>0){ %>
                        <table class="table my-res-table">
                              <thead class="thead-dark">
                                    <tr>
                                          <th scope="col">ATTEMPT</th>
                                          <th scope="col">MODULE CODE</th>
                                          <th scope="col">GRADE</th>      
                                    </tr>
                              </thead>
                              <tbody>
                                    <% for(let i=0;i<l3s1.length;i++){ %>
                                          <tr>
                                                <td><%= l3s1[i].ATTEMPT%></td>
                                                <td><%= l3s1[i].MODULE_CODE %></td>
                                                <td><%= l3s1[i].GRADE %></td>
                                          </tr>
                                    <% } %>                                   
                              </tbody>                              
                        </table>
                  <%}else{ %>
                        <h6>Not issued yet</h6>
                  <% } %>                 
            </div>
            <div class="sem-div">
                  <h4>LEVEL 3 SEMESTER 2</h4>
                  <% if(l3s2.length>0){ %>
                        <table class="table my-res-table">
                              <thead class="thead-dark">
                                    <tr>
                                          <th scope="col">ATTEMPT</th>
                                          <th scope="col">MODULE CODE</th>
                                          <th scope="col">GRADE</th>      
                                    </tr>
                              </thead>
                              <tbody>
                                    <% for(let i=0;i<l3s2.length;i++){ %>
                                          <tr>
                                                <td><%= l3s2[i].ATTEMPT%></td>
                                                <td><%= l3s2[i].MODULE_CODE %></td>
                                                <td><%= l3s2[i].GRADE %></td>
                                          </tr>
                                    <% } %>                                   
                              </tbody>                             
                        </table>
                  <%}else{ %>
                        <h6>Not issued yet</h6>
                  <% } %>
            </div>
      </div>
      <div class="user-result-section">
            <div class="sem-div">
                  <h4>LEVEL 4 SEMESTER 1</h4>
                  <% if(l4s1.length>0){ %>
                        <table class="table my-res-table">      
                              <thead class="thead-dark">
                                    <tr>
                                          <th scope="col">ATTEMPT</th>
                                          <th scope="col">MODULE CODE</th>
                                          <th scope="col">GRADE</th>      
                                    </tr>
                              </thead>
                              <tbody>
                                    <% for(let i=0;i<l4s1.length;i++){ %>
                                          <tr>
                                                <td><%= l4s1[i].ATTEMPT%></td>
                                                <td><%= l4s1[i].MODULE_CODE %></td>
                                                <td><%= l4s1[i].GRADE %></td>
                                          </tr>
                                    <% } %>                                   
                              </tbody>                              
                        </table>
                  <%}else{ %>
                        <h6>Not issued yet</h6>
                  <% } %>
            </div>
            <div class="sem-div">
                  <h4>LEVEL 4 SEMESTER 2</h4>
                  <% if(l4s2.length>0){ %>
                        <table class="table my-res-table">
                              <thead class="thead-dark">
                                    <tr>
                                          <th scope="col">ATTEMPT</th>
                                          <th scope="col">MODULE CODE</th>
                                          <th scope="col">GRADE</th>      
                                    </tr>
                              </thead>
                              <tbody>
                                    <% for(let i=0;i<l4s2.length;i++){ %>
                                          <tr>
                                                <td><%= l4s2[i].ATTEMPT%></td>
                                                <td><%= l4s2[i].MODULE_CODE %></td>
                                                <td><%= l4s2[i].GRADE %></td>
                                          </tr>
                                    <% } %>
                                    
                              </tbody>
                              
                        </table>

                  <%}else{ %>
                        <h6>Not issued yet</h6>
                  <% } %>
            </div>
      </div>

</div>
     
