<div id="admin-enter-result-body">
      <div id="admin-dynamic-body">
            <!-- <form action="/admin/enter/result/maincsv" method="post" id="admin-main-csv-form" class="admin-form">
                  <h4>INSERT USING MAIN CSV</h4>
                  <img src="/images/samplecsv.jpg" alt="main csv sample image" class="admin-form-image">
                  <br>
                  <input type="file" id="maincsv" name="filename">
                  <br>
                  <input type="submit" value="Add Results">
            </form>
            <br>
            <h4>OR</h4>
            <br> -->
            <form action="/admin/enter/result/modulecsv" enctype='multipart/form-data' method="post" id="admin-module-csv-form" class="admin-form">
                  <h4>INSERT USING MODULE CSV FILE</h4>
                  <img src="/images/EnterModuleResults.png" alt="module csv sample image" class="admin-form-image" style="height:80px;">
                  <br>
                  <p>Please remove the table headers from the csv file</p> 
                  <br>
                  <input type="file" id="modulecsv" name="modulecsv">
                  <br>
                  <input type="submit" value="Add Results">
            </form>
            <br>
            <h4>OR</h4>
            <br>
            <form action="/admin/enter/result/onebyone" method="post" id="admin-results-onebyone-form" class="admin-form">
                  <h4>INSERT ONE-BY-ONE</h4>
                  <label for="Modulecode">Module code:</label>
                  <select name="modulecode" id="Modulecode" style="height: 32px; padding: 1px 2px 1px 2px;">
                        <%for(let i=0; i<subjects.length;i++){ %>
                              <option value=<%=subjects[i].MODULE_CODE%>><%=subjects[i].MODULE_CODE%> - <%=subjects[i].MODULE_NAME%></option>
                        <%}%>
                  </select>

                  <label for="attempt">Attempt:</label>
                  <input type="number" name="attempt" id="">

                  <label for="reg_number">Index:</label>
                  <input type="number" name="reg_number" id="">

                  <label for="marks">Marks:</label>
                  <input type="number" name="marks" id="">

                  <label for="grade">Grade:</label>
                  <input type="text" name="grade" id="">

                  <label for="held">Year held:</label>
                  <input type="number" name="held" id="">
                  <br>
                  <input type="submit" value="Add Result">
            </form>
          
      </div>


      <div id="admin-result-feedback">
            <table class="table">
                  <h4>REVIEW ENTERED RESULTS</h4>
                  <thead class="thead-dark">
                        <tr>
                              <th scope="col">Attempt</th>
                              <th scope="col">Index Number</th>
                              <th scope="col">Module Code</th>
                              <th scope="col">Grade</th>
                        </tr>
                  </thead>
                  <tbody>
                        <% for(let i=0;i<results.length;i++){ %>
                              <tr>
                                    <td><%= results[i].ATTEMPT%></td>
                                    <td><%= results[i].REG_NUMBER%></td>
                                    <td><%= results[i].MODULE_CODE%></td>
                                    <td><%= results[i].GRADE%></td>
                              </tr>
                        <% } %>
                  </tbody>
            </table>
      </div>
</div>